.b-store-statistics{
	max-width: 70%;
}
.store-statistics__period{
	font-size: 0;
	margin-bottom: 30px;
}
.period-title, 
.period-limit,
.values-item-name,
.values-item-index{
	display: inline-block;
	width: 45%;
	vertical-align: bottom;
	box-sizing: border-box;
}
.period-title{
	font-size: 20px;
}
.period-limit{
	width: 55%;
	font-size: 0;
}
.period-limit-from-wrapper,
.period-limit-to-wrapper{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	box-sizing: border-box;
}
.values-item{
	margin-bottom: 10px;
	font-size: 0;
}
.values-item-name,
.values-item-index{
	font-size: 14px;
}
.values-item-index{
	width: 55%;
}